.ntg-gateway {
  .row {
    > div {
      &:first-child {
        @include media-breakpoint-up(md) {
          border-right: 1px solid $border-color;
          padding-right: $padding-p-4;
        }

        @include media-breakpoint-down(md) {
          border-bottom: 1px solid $border-color;
          padding-bottom: $padding-p-4;
        }
      }

      &:last-child {
        @include media-breakpoint-up(md) {
          padding-left: $padding-p-4;
        }

        @include media-breakpoint-down(md) {
          padding-top: $padding-p-4;
        }
      }

      > * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .btn {
    min-width: 180px;
    min-height: 52px;
    padding: $padding-p-4 $padding-p-8;
    border-width: 2px;
    border-radius: $rounding-rounded-lg;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
